###                     **Named Entity Recognition (NER): Exercises**

In [1]:
#importing necessary libraries 
import spacy

nlp = spacy.load("en_core_web_sm")  #creating an object and loading the pre-trained model for "English"

#### **Excersie: 1**

- Extract all the Geographical (cities, Countries, states) names from a given text

In [7]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)
for ent in doc.ents:
    if ent.label_ == 'GPE':
        print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))

Kiran  |  GPE  |  Countries, cities, states
India  |  GPE  |  Countries, cities, states
Delhi  |  GPE  |  Countries, cities, states
Gujarat  |  GPE  |  Countries, cities, states
Tamilnadu  |  GPE  |  Countries, cities, states
Andhrapradesh  |  GPE  |  Countries, cities, states
Assam  |  GPE  |  Countries, cities, states
Bihar  |  GPE  |  Countries, cities, states

In [8]:
doc[0]

Kiran

In [9]:
from spacy.tokens import Span

s1 = Span(doc, 0, 1, label="PERSON")

doc.set_ents([s1], default="unmodified")

In [ ]:
geographic = []
for ent in doc.ents:
    if ent.label_ == 'GPE':
        print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))
        geographic.append(ent.text)

India  |  GPE  |  Countries, cities, states
Delhi  |  GPE  |  Countries, cities, states
Gujarat  |  GPE  |  Countries, cities, states
Tamilnadu  |  GPE  |  Countries, cities, states
Andhrapradesh  |  GPE  |  Countries, cities, states
Assam  |  GPE  |  Countries, cities, states
Bihar  |  GPE  |  Countries, cities, states

In [ ]:
geographic

['India', 'Delhi', 'Gujarat', 'Tamilnadu', 'Andhrapradesh', 'Assam', 'Bihar']

**Expected Output:**

Geographical location Names:  [India, Delhi, Gujarat, Tamilnadu, Andhrapradesh, Assam, Bihar]

Count:  7

#### **Excersie: 2**

- Extract all the birth dates of cricketers in the given Text

In [13]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)

In [15]:
birth_date = []
for ent in doc.ents:
    if ent.label_ == 'DATE':
        print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))
        birth_date.append(ent.text)

24 April 1973  |  DATE  |  Absolute or relative dates or periods
5 November 1988  |  DATE  |  Absolute or relative dates or periods
7 July 1981  |  DATE  |  Absolute or relative dates or periods
19 December 1974  |  DATE  |  Absolute or relative dates or periods

In [16]:
birth_date

['24 April 1973', '5 November 1988', '7 July 1981', '19 December 1974']

**Expected Output:**

All Birth Dates:  [24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]

Count:  4

## [Solution](./named_entity_recognition_solutions.ipynb)